In [16]:
import pandas as pd
import numpy as np
import random

class ProcessingData:
    
    @staticmethod
    def shuffle(data: pd.DataFrame) -> pd.DataFrame:
        for i in range(len(data)):
            j = random.randint(0,len(data)-1)
            data.iloc[i],data.iloc[j] = data.iloc[j],data.iloc[i]
        return data
    @staticmethod
    def normalize(data: pd.DataFrame,columns: list) -> pd.DataFrame:
        for column in columns:
            x = data[column].max()
            y = data[column].min()
            data[column] = (data[column]-y)/(x-y)
        return data      
    @staticmethod
    def split(data: pd.DataFrame) -> pd.DataFrame:
        train_set = pd.DataFrame(columns=data.columns)
        test_set = pd.DataFrame(columns=data.columns)
        for i in range(len(data)):
            if random.random() < 0.7:
                train_set = train_set.append(data.iloc[i])
            else:
                test_set = test_set.append(data.iloc[i])
        return train_set,test_set

In [17]:
irisdf =  pd.read_csv("iris.csv")

In [18]:
irisdf

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [19]:
#NAIWNY KLASYFIKATOR BAYESA

#metoda ktora liczy srednia mean()
#metoda ktora liczy standardowe odchylenie ze sredinej
#metoda - funkcja gestoci prawdopodobienstwa(x,mean,stdev)

In [98]:
class NaiveBayes:
    @staticmethod
    def mean(dataset: pd.DataFrame):
        varieties = dataset["variety"].unique()
        means = {}
        means["Setosa"] = {}
        means["Versicolor"] = {}
        means["Virginica"] = {}                                
        for column in dataset.columns:
            if column != "variety":
                means["Setosa"][column] = dataset[dataset["variety"] == "Setosa"][column].mean()
                means["Versicolor"][column] = dataset[dataset["variety"] == "Versicolor"][column].mean()
                means["Virginica"][column] = dataset[dataset["variety"] == "Virginica"][column].mean()
        return means
    @staticmethod
    def stddev(dataset: pd.DataFrame):
        deviations = {}
        deviations["Setosa"] = {}
        deviations["Versicolor"] = {}
        deviations["Virginica"] = {}   
        for column in dataset.columns:
            if column != "variety":
                deviations["Setosa"][column] = dataset[dataset["variety"] == "Setosa"][column].std()
                deviations["Versicolor"][column] = dataset[dataset["variety"] == "Versicolor"][column].std()
                deviations["Virginica"][column] = dataset[dataset["variety"] == "Virginica"][column].std()
        return deviations

    @staticmethod
    def probability(dataset: pd.DataFrame,mean: dict,stdev: dict,column: str,value: float) -> float:
        p = 1

In [84]:
irisdf=ProcessingData.shuffle(irisdf)
irisdf = ProcessingData.normalize(irisdf,["sepal.length","sepal.width","petal.length","petal.width"])
train_set,test_set = ProcessingData.split(irisdf)

In [97]:
deviations = NaiveBayes.stddev(irisdf)
means = NaiveBayes.dmean(irisdf)